@font-face {
    font-family: "icons";
    src: url("./icons.woff?7f6327286a279620e35209d5f54a6470") format("woff"),
url("./icons.woff2?7f6327286a279620e35209d5f54a6470") format("woff2"),
url("./icons.ttf?7f6327286a279620e35209d5f54a6470") format("truetype");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
    content: "\f101";
}
.icon-instagram:before {
    content: "\f102";
}
.icon-mqas:before {
    content: "\f103";
}
.icon-power:before {
    content: "\f104";
}
.icon-prise:before {
    content: "\f105";
}
.icon-search:before {
    content: "\f106";
}
.icon-twitter:before {
    content: "\f107";
}
.icon-youtube:before {
    content: "\f108";
}
