@font-face {
    font-family: "icons";
    src: url("./icons.woff?dbe980a63d608febfba4c02b3bad07b9") format("woff"),
url("./icons.woff2?dbe980a63d608febfba4c02b3bad07b9") format("woff2"),
url("./icons.ttf?dbe980a63d608febfba4c02b3bad07b9") format("truetype");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
    content: "\f101";
}
.icon-arrow-right:before {
    content: "\f102";
}
.icon-christmas-gift:before {
    content: "\f103";
}
.icon-search:before {
    content: "\f104";
}
.icon-sm-facebook:before {
    content: "\f105";
}
.icon-sm-instagram:before {
    content: "\f106";
}
.icon-sm-twitter:before {
    content: "\f107";
}
.icon-testing-mqas:before {
    content: "\f108";
}
.icon-testing-power:before {
    content: "\f109";
}
.icon-testing-prise:before {
    content: "\f10a";
}
